@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
#root {
    width: 100%;
    max-width: 1920px;
    margin: auto;
}

body,
html {
    background-color: #343a40;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../../public/images/bg-01.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: 'Press Start 2P', cursive;
}

h2 {
    color: #fff;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 35px;
}

.box {
    padding: 35px;
    background-color: rgba(#000, 0.5);
}

.slick {
    .item {
        padding-top: 15px;
        text-align: center;
        img {
            width: auto;
            margin: auto;
            margin-top: 30px;
            margin-bottom: 10px;
            transform: scale(3);
            margin-bottom: 60px;
        }
    }
    .slick-prev {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        font-size: 0;
        border: 0;
        background-color: transparent;
        background-image: url(../../level-01/game-assets/arrow.png);
        background-size: 50%;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #fff;
        transform: rotate(-180deg);
        z-index: 9;
        outline: none;
        opacity: 0.7;
        transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        &:hover {
            transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transform: rotate(-180deg) scale(1.2);
        }
    }
    .slick-next {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        font-size: 0;
        border: 0;
        background-color: transparent;
        background-image: url(../../level-01/game-assets/arrow.png);
        background-size: 50%;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #fff;
        z-index: 9;
        outline: none;
        opacity: 0.7;
        transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        &:hover {
            transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transform: scale(1.2);
        }
    }
}

.load {
    width: 60px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: none;
}

.loading {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(#000, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: auto;
        margin: auto;
    }
}